html {
    font-family: 'Slabo 27px', serif;
}
body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

.button {
    text-align: center;
    margin: 5px;
    padding: 2px;
    width: 100px;
    border: 2px solid #B0B0B0;
}

.button:hover {
    cursor: pointer;
    background-color:  	#B0B0B0;
}

#center, #latestPic {
    display: inline;
}
#latestPic {
    margin-left: 0px;
}

/* photo/video popup */

.leaflet-popup-photo a.leaflet-popup-close-button {
    top: -13px;
    right: -13px;
    background-color: #fff;
    padding: 5px;
    border-radius: 12px;
    width: 15px;
    height: 15px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    color: #555;
}



.leaflet-popup-photo a.leaflet-popup-close-button:hover {
    color: #333;
    background-color: #eee;
}

.leaflet-popup-photo .leaflet-popup-content-wrapper {
    padding: 6px;
    border-radius: 4px;
}

.leaflet-popup-photo .leaflet-popup-content {
    margin: 0;
    width: 100%;
}

.leaflet-popup-photo .leaflet-popup-tip {
    background: white;
}

.leaflet-popup-photo img,
.leaflet-popup-photo video {
    display: block;
    width: 100%;
   
}

.leaflet-popup-photo p {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    margin: 5px 0 0 0;
}